@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Saiyan-Sans;
    src: url(fonts/Saiyan-Sans\ Left\ Oblique.ttf) format('truetype'); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

header{
    font-family: 'Saiyan-Sans', sans-serif;
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    font-family: 'Saiyan-Sans', sans-serif;
    text-decoration: none;
    color: tomato;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 3em;
}

.navigation a {
    text-decoration: none;
    color: tomato;
    font-weight: 300;
    font-size: 2.5em;
    padding-left: 30px;
}

.navigation a:hover {
    color: #0088ff;
}

section{
    padding: 100px 200px;
    scroll-snap-align: start;
}

.main {
    padding: 250px 200px 20px 50px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    font-family: 'Saiyan-Sans', sans-serif;
    color: white;
    font-size: 2.4em;
    font-weight: 400;
}

.main h2 span{
    font-family: 'Saiyan-Sans', sans-serif;
    display: inline-block;
    margin-top: 10px;
    color: #0088ff;
    font-size: 3em;
    font-weight: 400;
    word-spacing: -25px;
}

.main h3{
    font-family: 'Saiyan-Sans', sans-serif;
    color: #fff;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    font-family: 'Saiyan-Sans', sans-serif;
    color: #fff;
    background-color: #0088ff;
    text-decoration: none;
    font-size: 2.8em;
    font-weight: 300;
    display: inline-block;
    padding: 0.3em 0.5em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: #11213f;
    transform: scale(1.1);
}

.social-icons a{
    color: #ffffff;
    font-size: 2em;
    padding-right: 20px;
    margin-left: 20px;
}

.title {
    font-family: 'Saiyan-Sans', sans-serif;
    display: flex;
    justify-content: center;
    color: tomato;
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 30px;
}

.content {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(255, 99, 71, 75%);
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: tomato;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    font-family: 'Saiyan-Sans', sans-serif;
    color: tomato;
    font-size: 2.8em;
    font-weight: 300;
    margin: 10px;
}

.projects {
    background-color: #11213f;
}

.project-content {
    margin-top: 30px;
}

.project-card {
    background-color: #ff6347;
    border: 2px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 1em;
    color: #fff;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color:#11213f;
}

.more-details:hover {
    color: #0088ff;
}

.contact .icon {
    font-size: 5em;
}

.contact .info h3 {
    font-family: 'Saiyan-Sans', sans-serif;
    color: #11213f;
    font-size: 2em;
    font-weight: 100;
}

.contact .info p {
    font-size: 1.1em;
    justify-content: center;
}

.footer {
    background-color:#11213f;
    color: #fff;
    padding: 3em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-family: 'Saiyan-Sans', sans-serif;
    font-size: 2.4em;
    font-weight: 500;
}

span {
    font-style: italic;
}

.contact .info p a {
    text-decoration: none;
    color: #ff6347;
}

.footer-title span {
    color: #ff6347;
}

.footer .social-icons a{
    font-size: 2em;
    padding: 0 15px 0 0;
}
abbr {
    color: #ffcc00;
    text-decoration: none;
}

@media (max-width:1024px) {
    body {
        font-family: 'Poppins', sans-serif;
    }
    header {
        padding: 0px 20px;
    }
    .navigation a {
        padding-left: 35px;
    }
    .title {
        font-size: 3.5em;
    }
    section {
        font-family: 'Poppins', sans-serif;
    }
    .main-content h2 {
        font-size: 0.5;
    }
}
@media (max-width:1023px) {
    header {
        padding: 10px 20px;
    }
    .navigation a {
        padding-left: 35px;
    }
    .title {
        font-size: 3.5em;
    }
    section {
        padding: 61px 31px;
    }
    .main-content h2 {
        font-size: 1em;
    }
}
@media (max-width:740px) {
    .main h2 {
        margin-top: -170px;
    }
}
@media (max-width:500px) {
    header {
        padding: 0px 20px
    }
    .logo {
        padding-left: 10px;
        font-size: 3.5em;
    }
    .navigation a {
        padding-left: 80px;
    }
    .title {
        font-size: 3.1em;
        margin-top: 50px;
    }
    section {
        padding: 80px 20px;
        justify-content: center;
    }
    .main {
        padding: 50px 100px 0px 100px;
    }
    .main h2 {
        padding: 290px 0px 0px 0px;
    }
    .main h3 {
        word-spacing: -5px;
    }
    .social-icons a {
        padding-left: 10px;
        letter-spacing: -15px;
    }
}
@media (max-width:400px) {
    header {
        padding: 0px 10px
    }
    .navigation a {
        padding-left: 35px;
    }
    .title {
        font-size: 2.8em;
    }
    .main-btn {
        font-size: 2.3em;
        margin-left: 5px;
    }
    section {
        padding: 150px 20px;
        justify-content: center;
    }
    .main {
       padding: 290px 0px 0px 0px;
    }
    .main h2 {
       padding: 130px 0px 0px 10px;
    }
    .main h3 {
       padding: 0px 0px 0px 15px;
    }
    .contact .info p a {
        font-size: 0.8em;
    }
}

@media (max-width:360px) {
    header {
        padding: 0px 10px
    }
    .navigation a {
        padding-left: 27px;
    }
    .title {
        font-size: 2.5em;
    }
    .main-btn {
        font-size: 2.1em;
        margin-left: 10px;
    }
    section {
        padding: 100px 20px;
        justify-content: center;
    }
    .main h2 {
        margin-top: 50px;
    }
    .contact .info p a {
        font-size: 0.8em;
    }
}

@media (max-width:300px) {
    header {
        padding: 0px 0px
    }
    .logo {
        padding-left: -20px;
        font-size: 3em;
    }
    .title {
        font-size: 3em;
    }
    .navigation a {
        padding-left: 15px;
    }
    section {
        padding: 80px 10px 0px 10px;
        justify-content: center;
        font-size: 0.71em;
    }
    .main-btn {
        font-size: 2.4em;
        margin-left: 10px;
    }
    .social-icons a {
        padding-left: 10px;
        letter-spacing: -25px;
    }
}